<h1>Conversations</h1>
<div>
  <ul>
    <% @conversations.each do |conversation| %>
      <li><%= link_to conversation.id, conversation%></li>
    <% end %>
  </ul>
  <%= button_to "New conversation", { action: "create", controller: "conversations" } %>
</div>