<h1><%= @conversation.id %></h1>
<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.content %>
    </li>
  <% end %>
</ul>
<p><%= conversation_path(@conversation) %></p>
<%= button_to "Delete conversation", conversation_path(@conversation), 
    data: { "turbo-confirm": 'Are you sure', "turbo-method": :delete }, method: :delete %>