<h1><%= @conversation.id %></h1>
<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.content %>
    </li>
  <% end %>
</ul>
<%= link_to "Delete conversation", conversation_path(@conversation), 
    data: { confirm: 'Are you sure'}, method: :delete %>